// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.main {
    .form {
        width: 500px;
        color: white;

        .form-group {
            margin-bottom: 0rem;

            input {
                background-color: #4f5d73;
                border-color: #2b3340;
                height: 2.8rem;
                color: white;

                &::placeholder {
                    color: rgb(143, 147, 163);
                }

                &.input-error {
                    border-color: rgb(233, 41, 41);
                }
            }

            button {
                width: 100%;
                color: white;
            }

            .error-message {
                color: rgb(233, 41, 41);
                margin-top: .5rem;
            }
        }

        .error-message {
            color: rgb(233, 41, 41);
        }
    }

    &.page-body {
        // background-color: red;
        min-height: 100vh;
        background-image: url("../../storage/app/background.jpg");
        // background-image: url("../../storage/app/background.png");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    
        .no-padding {
            padding-right: 0px;
            padding-left: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    
        .container {
            padding-top: 2rem;
    
            .card {
                overflow: hidden;
                height: 25rem;
                width: 85%;
                border: none;
                border-radius: 0;
                background: none;
                box-shadow: 1px 5px 10px 0px;
    
                &:hover {
                    .background { 
                        opacity: .25;
                    }
    
                    .top {
                        top: 0px;
                        opacity: 1;
                    }
    
                    .bottom {
                        top: 0px;
                        opacity: 1;
                    }
    
                    .pricebox {
                        opacity: 1;
                    }
                }
    
                .background {
                    position: absolute;
                    max-width: 100%;
                    min-height: 100%;
                    object-fit: fill;
                    z-index: 1;
                    transition: opacity .25s;
                    opacity: 1;
                }
    
                .top {
                    // background-image: url("../../storage/app/infinite.jpg");
                    background-position: center; /* Center the image */
                    background-repeat: no-repeat; /* Do not repeat the image */
                    background-size: cover; /* Resize the background image to cover the entire container */
                    position: relative;
                    top: 25rem;
                    transition: top .5s, opacity .75s;
                    background-color: black;
                    height: 50%;
                    opacity: 0;
                    z-index: 2;
    
                    video {
                        height: 100%;
                    }
                }
    
                .bottom {
                    background: rgb(19,96,93);
                    background: linear-gradient(135deg, rgba(19,96,93,1) 0%, rgba(35,59,82,1) 100%);
                    position: relative;
                    top: 12.5rem;
                    transition: top .5s, opacity .75s;
                    background-color: yellow;
                    height: 50%;
                    padding: 10px 15px;
                    opacity: 0;
                    z-index: 2;
    
                    .context {
                        padding: 0px 0px; 
    
                        * {
                            margin-bottom: 0;
                            margin-top: 0;
                            color: white;
                            font-size: .9rem; 
                        }
    
                        .greyed {
                            color: #6B8F9E; 
                        }
    
                        .header {   
                            font-size: 1.75rem !important;
                        }
    
                        .review {
                            color: #59A5B9;
                        }
                    }
    
                    .add-to-cart {
                        border: none;
                        border-radius: 2px;
                        position: absolute;
                        bottom: 10px;
                        padding: 5px 10px;
                        font-size: .9rem;
                        color: #B8D160;
                        background: rgb(113,142,8);
                        background: linear-gradient(180deg, rgba(113,142,8,1) 0%, rgba(84,108,0,1) 70%);
                    }
                }
    
                .pricebox {
                    background-color: black;
                    opacity: 0.75;
                    transition: opacity .5s;
                    color: white;
                    position: absolute;
                    bottom: 12px;
                    right: 0;
                    font-size: .9rem;
                    z-index: 3;
                    height: 20px;
    
                    * {
                        font-size: .85rem;
                    }
    
                    div {
                        display: inline-block;
                    }
    
                    .old-price {
                        color: #6C7980;
                        line-height: 21px;
                        text-decoration: line-through;
                    }
    
                    .price {
                        line-height: 10px;
                        padding:5px 2.5px;
                    }
                }
            }
        }
    }
}